In [5]:
import pandas as pd
from data import datafile
import json

In [10]:
datafile[1]

{'datetime': '1/1/2010',
 'city': 'bonita',
 'state': 'ca',
 'country': 'us',
 'shape': 'light',
 'durationMinutes': '13 minutes',
 'comments': 'Three bright red lights witnessed floating stationary over San Diego New Years Day 2010'}

In [11]:
df = pd.DataFrame.from_dict(datafile, orient='columns')

In [12]:
df

,datetime,city,state,country,shape,durationMinutes,comments
0,1/1/2010,benton,ar,us,circle,5 mins.,4 bright green circles high in the sky going i...
1,1/1/2010,bonita,ca,us,light,13 minutes,Three bright red lights witnessed floating sta...
2,1/1/2010,el cajon,ca,us,triangle,6 minutes,On New Years Eve I went outside to hear the ce...
3,1/1/2010,el cajon,ca,us,triangle,12 minutes,3 Red objects hovering over El Cajon CA
4,1/1/2010,fresno,ca,us,light,1 min,Fresno cal. bright light hovers over head then...
...,...,...,...,...,...,...,...
106,1/12/2010,waukesha,wi,us,disk,15minutes,five glowning globes over waukesha&#44wi
107,1/12/2010,ceres,ca,us,fireball,30 seconds,Fireballs seen from Ceres&#44 California
108,1/13/2010,white oak,pa,us,triangle,30 seconds,Blinking lights on a rectanglar shaped object ...
109,1/13/2010,ackerman,ms,us,light,2 hours,A bright light hovering in the southwestern sk...
110,1/13/2010,gulf breeze,fl,us,unknown,4 minutes,Bright orange object&#44 rapid speed and direc...

In [17]:
df['shape'].value_counts()

light        26
triangle     18
sphere       11
unknown      11
fireball      7
other         7
disk          5
formation     5
circle        4
oval          3
changing      3
chevron       3
teardrop      2
cigar         2
cylinder      1
flash         1
cross         1
rectangle     1
Name: shape, dtype: int64

In [18]:
 df['country'].value_counts()

us    109
ca      2
Name: country, dtype: int64

In [22]:
df['state'].value_counts()

ca    30
fl    10
ma     7
co     4
ny     4
nc     4
tx     4
nj     3
wi     3
oh     3
or     3
ar     3
mo     3
ak     3
ky     3
az     2
nm     2
on     2
ks     2
ia     1
wa     1
pa     1
mi     1
la     1
ga     1
wv     1
nh     1
ct     1
va     1
tn     1
in     1
al     1
ms     1
md     1
sc     1
Name: state, dtype: int64

In [23]:
df['city'].value_counts()

el cajon      5
san diego     3
la mesa       2
willow        2
cleveland     2
             ..
walworth      1
benton        1
san pablo     1
tomball       1
cincinnati    1
Name: city, Length: 102, dtype: int64